:root {
	--primary-blue: hsl(213, 96%, 18%);
	--primary-purple: hsl(243, 100%, 62%);
	--primary-pastel: hsl(228, 100%, 84%);
	--primary-light: hsl(206, 94%, 87%);
	--primary-red: hsl(354, 84%, 57%);

	--neutral-cool: hsl(231, 11%, 63%);
	--neutral-light: hsl(229, 24%, 87%);
	--neutral-magnolia: hsl(217, 100%, 97%);
	--neutral-alabaster: hsl(231, 100%, 99%);
	--neutral-white: hsl(0, 0%, 100%);
}
